body{
    background-color: limegreen;
    grid: 100%;
    text-align: center;
    color: green;
}
form{
    width: 400px;
    display: inline-block;
    color: black;
}
button{
    margin-top: 10px;
    width: 400px;
    border-color: green;
    border-radius: 5px;
    background-color: green;
    color: limegreen;
}
.group-name{
    margin-top: 40px;
    
}