body{
    background-color: green;
    grid: 100%;
    text-align: center;
    color: limegreen;
}
form{
    width: 400px;
    display: inline-block;
    color: black;
}
button{
    margin-top: 10px;
    width: 400px;
    border-color: rgb(20, 114, 20);
    border-radius: 5px;
    background-color: rgb(18, 219, 18);
    color: rgb(0, 76, 0);
}
.group-name{
    margin-top: 40px;
    
}